<link href="/stylesheets/footer.css" rel="stylesheet" type="text/css" media="all" />
<div class="footer">		
	<div class="footer_top imageTour"><img src="https://tour.alternatiba.eu/wp-content/uploads/2017/10/minisiteTour_FOOTER-RS.png" class="vc_single_image-img attachment-full" alt="" srcset="https://tour.alternatiba.eu/wp-content/uploads/2017/10/minisiteTour_FOOTER-RS.png 472w, https://tour.alternatiba.eu/wp-content/uploads/2017/10/minisiteTour_FOOTER-RS-300x44.png 300w" sizes="(max-width: 472px) 100vw, 472px" height="70">
	</div>
	
	<div class="text-center footer_espacement">
		<span class="col">
			<a href="https://www.facebook.com/Alternatiba.eu" target="_blank"><img src="https://tour.alternatiba.eu/wp-content/uploads/2017/10/minisiteTour_facebook-hover.png" class="image wp-image-101  attachment-full size-full" alt="" style="max-width: 100%; height: auto;" width="50" height="50"></a>
		</span>
		<span class="col">
			<a href="https://www.instagram.com/touralternatiba/" target="_blank"><img src="https://tour.alternatiba.eu/wp-content/uploads/2017/10/minisiteTour_insta-hover.png" class="image wp-image-100  attachment-full size-full" alt="" style="max-width: 100%; height: auto;" width="50" height="50"></a>
		</span>
		<span class="col">
			<a href="https://twitter.com/Alternatiba_" target="_blank"><img src="https://tour.alternatiba.eu/wp-content/uploads/2017/10/minisiteTour_twitter-hover.png" class="image wp-image-99  attachment-full size-full" alt="" style="max-width: 100%; height: auto;" width="50" height="50"></a>
		</span>
	</div>

	<div class="footer_espacement">
				<img src="https://tour.alternatiba.eu/wp-content/uploads/2017/11/minisiteTour_LOGOTOURFOOTER.png" class="image wp-image-175  attachment-full size-full" alt="" style="max-width: 100%; height: auto;" width="187" height="122">	
	</div>
									
</div>
					