<link href="/stylesheets/navCommon.css" rel="stylesheet" type="text/css" media="all" />
<div class="container">
	<div class="left">
			<ul class="logo">
		  		 <li><a href="https://tour.alternatiba.eu/"><img src="/images/tour.png"/></a> </li>
		  	</ul>
		
	</div>
	<div class="infoSite">
		<div class="menu">
			<ul>
				<li><a href="https://tour.alternatiba.eu/">Le PROJET</a></li>
				<li><a href="https://tour.alternatiba.eu/ils-ont-signe-lappel/">Ils ont signé l’appel</a></li>
				<li><a href="https://tour.alternatiba.eu/faq/">FAQ</a></li>
				<li id="don"><a target="_blank" href="https://www.helloasso.com/associations/alternatiba/formulaires/2/widget">FAIRE UN DON</a></li>
			</ul>
		</div>
		<div class="media-icone">
			<a href="https://www.facebook.com/Alternatiba.eu"><img class="favicon" src="https://tour.alternatiba.eu/wp-content/uploads/2017/10/minisiteTour_facebook.png"></a>
			<a href="https://twitter.com/Alternatiba_"><img class="favicon" src="https://tour.alternatiba.eu/wp-content/uploads/2017/10/minisiteTour_twitter.png"></a>
			<a href="https://www.instagram.com/touralternatiba/"><img class="favicon" src="https://tour.alternatiba.eu/wp-content/uploads/2017/10/minisiteTour_insta.png"></a>
		</div>
	</div>
</div>
