<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
 <% include ../partials/header.ejs %>
<title>Tour alternatiba 2018 | Authentification </title>
<!--Custom Theme files-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Register Login Widget template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login Signup Responsive web template, SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="/stylesheets/login.css" rel="stylesheet" type="text/css" media="all" />
<!--web-fonts-->
<link href='//fonts.googleapis.com/css?family=Jura:400,300,500,600' rel='stylesheet' type='text/css'>
<!--//web-fonts-->
</head>
<body>
	<% include ../partials/nav.ejs %>
	<!-- main -->
	<div class="main">
		<!--Messages-->
			<%  if (typeof successes != 'undefined'){ %>
				<%   successes.forEach(function(success) { %> %>
			    <div class='header alert alert-info alert-dismissible'>
			        <strong><i class="fa fa-exclamation-circle"></i> INFO : </strong><%= success %>
			    </div>

			 <% });
			 } %>
			 <%  if (typeof erreurs != 'undefined'){ %>
				<%   erreurs.forEach(function(erreur) { %> %>
			    <div class='header alert alert-danger alert-dismissible'>
			        <strong><i class="fa fa-exclamation-circle"></i> ERREUR : </strong><%= erreur %>
			    </div>
			    
			 <% });
			 } %>
			
		
		<!--login-profile-->
		<!--signin-form-->
		<div class="w3">
			<div class="titre">
				<h3>S'authentifier</h3>
			</div>
			<div class="signin-form profile">
				<div class="login-form form-group">
					<form action="/authentification/authentification" method="post">
						<input type="email" class="form-control"  name="username" placeholder="E-mail" required="" >
						<input type="password"  class="form-control" name="password" placeholder="Mot de passe" required="">
						<div class="tp">
							<input type="submit" class="btn btn-default couleurbg largeurAuto" value="S'authentifier">
						</div>
						<div class="tp">

							<button type="button" class="btn btn-default couleurbg motDePasse" data-toggle="modal" data-target="#popinMotDePasseOublie">Mot de passe oublié</button>
            
							<a href="/authentification/modeDePasseOublie">
								
							</a>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="agile hide">
			<div class="titre">
				<h3>S'enregistrer</h3>
			</div>
			
			<div class="signin-form profile">
				<div class="login-form">
					<form action="/authentification/enregistrement" method="post">
						<input type="email" class="form-control"  name="username" placeholder="E-mail" required=""  >
						<input type="text" class="form-control" name="nom" placeholder="Nom" required="">
						<input type="text" class="form-control"  name="prenom" placeholder="Prénom" required="">
						<input type="tel" class="form-control"  name="telephone" placeholder="Téléphone (facultatif)">
						<input type="password" class="form-control"  name="password" placeholder="Mot de passe" required="">
						<input type="password" name="confimPassword" class="form-control"  placeholder="Confirmation du mot de passe" required="">
						<input type="submit" class="btn btn-default couleurbg largeurAuto" value="S'enregistrer">
					</form>
				</div>
			</div>
		</div>
		<div class="clear"></div>
		<!--//signin-form-->	
	</div>				
</body>
</html>


<!-- popin -->
<div class="modal fade" id="popinMotDePasseOublie" tabindex="-1" role="dialog" aria-labelledby="popinLabel" aria-hidden="true">
  <form method="post" action="/authentification/envoyerEmailReinitialisationMotDePasse" id="popinMotDePasseOublieForm">

      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="popinLabel">Mot de passe oublié</h5> 
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
           Entrez votre adresse mail, un lien va vous être envoyé pour réinitaliser le mot de passe :
			<input type="email" form ="popinMotDePasseOublieForm" required="" name="emailRecuperation" id="emailRecuperation" />
          
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
            <button type="submit" class="btn btn-default couleurbg" id="ok">Changer le mot de passe</button>
          </div>
        </div>
      </div>
  </form>	
</div>
<%  if(typeof reintialisation  !== "undefined" && reintialisation!== undefined  && reintialisation == 'true'){ %>

<!-- popin -->
<div class="modal fade" id="reintialisationMDP" tabindex="-1" role="dialog" aria-labelledby="popinLabel" aria-hidden="true">
  <form method="post" action="/authentification/reinitialisationMotDePasse" id="popinReintialisationMDPForm">
  	<%  if(typeof token  !== "undefined" && token!== undefined ){ %>
	
  	   <input type="text" style="display:none" id ="token" name="token" value="<%= token %>" />
  	<% } %>
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="popinLabel">Mot de passe oublié</h5> 
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
           Entrez votre nouveau mot de passe :
			<input type="password" form ="popinReintialisationMDPForm" id="motDePasse" class="form-control"  name="motDePasse" placeholder="Mot de passe" required="">
			<input type="password" form ="popinReintialisationMDPForm" id="motDePasseConf" name="motDePasseConf" class="form-control"  placeholder="Confirmation du mot de passe" required="">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
            <button type="submit" class="btn btn-default couleurbg" id="validerNouveauMotDePasse">Valider votre nouveau mot de passe</button>
          </div>
        </div>
      </div>
  </form>	
</div>
<script>
	$('#reintialisationMDP').modal('show'); 
</script>
	<% } %>

<script>
	$(".navbar-nav li").removeClass("active");
	$("#Profil_Icone").addClass("active"); 
</script>