<h2 style="color: #098048;">Nouveau b&eacute;n&eacute;vole</h2>
<p>Bonjour,</p>
<p>Vous &ecirc;tes r&eacute;f&eacute;rent de l'&eacute;tape&nbsp;{{nomEtape}} et <strong>{{prenom}} {{nom}}</strong> Email :{{email}} Num&eacute;ro :&nbsp;{{numero}} c'est manifest&eacute; pour &ecirc;tre b&eacute;n&eacute;vole {{#if estOrganisateur}}pour aider &agrave; l'organisation de l'&eacute;tape {{else}}pour&nbsp;aider le jour J{{/if}}</p>
<p><code></code>de votre &eacute;tape.</p>
<p>Voici le message du b&eacute;n&eacute;vole&nbsp; : {{message}}</p>
<p>N'h&eacute;sitez pas &agrave; le recontacter.</p>
<p>Vous pouvez retrouver la liste des b&eacute;n&eacute;voles de votre &eacute;tape depuis ce <a href="http://etapes.tour.alternatiba.eu/village?villageId={{villageId}}">lien</a>.&nbsp;</p>
<p>&nbsp;</p>
<p><strong>L'&eacute;quipe du tour alternatiba</strong></p>
<p><strong>&nbsp;</strong></p>