
<h2 style="color: #098048;">Bienvenue sur l'outil étape en tant que r&eacute;f&eacute;rent</h2>
<p>F&eacute;licitation {{a1}} vous &ecirc;tes maintenant le r&eacute;f&eacute;rent de l'&eacute;tape {{a2}}.</p>
<p>Vous pouvez acc&eacute;der &agrave; votre &eacute;tape depuis l'<a href="http://etapes.tour.alternatiba.eu/profil/referent">onglet R&eacute;f&eacute;rent de Mon Profi</a>&nbsp;ou directement depuis ce <a href="http://etapes.tour.alternatiba.eu/village?villageId={{villageId}}">lien</a>&nbsp;</p>
<p>De nouveaux boutons d'&eacute;dition de votre &eacute;tape sont disponibles.</p>
<p>Si vous avez d&eacute;j&agrave; les informations sur vos activit&eacute;s, vous pouvez d&egrave;s maintenant les cr&eacute;er. Vous pouvez visionner le tutorial d'&eacute;dition d'&eacute;tape en suivant ce <a href="https://www.dailymotion.com/video/k1xD9gyQuXS0tOquppp">lien</a>&nbsp;.</p>
<p>N'h&eacute;sitez pas &agrave; demander aux autres r&eacute;f&eacute;rents de se connecter et de faire la demande pour &ecirc;tre r&eacute;f&eacute;rent de votre &eacute;tape. Un mail vous sera envoy&eacute; pour vous avertir qu'une personne est en attente de validation pour votre &eacute;tape.</p>
<p>N'h&eacute;sitez pas &agrave; publier votre &eacute;tape pour que les b&eacute;n&eacute;voles et des personnes souhaitant vous aider dans l'organisation puissent se manifester sur votre page &eacute;tape.</p>
<p>N'h&eacute;sitez pas &agrave; nous remonter les am&eacute;liorations, probl&egrave;mes et retours sur ce <a href="https://docs.google.com/spreadsheets/d/1EKBcJ5He8BsBmhehUrWJrJ7Se8PnsiRo4ub1W7pcvVI/edit">document</a>.</p>

<p><strong>Bonne cr&eacute;ation d'&eacute;tape sur l'outil &eacute;tape</strong></p>
<p><strong>L'&eacute;quipe du tour alternatiba</strong></p>
<p><strong>&nbsp;</strong></p>